@media screen and (max-width: 767px) {
  body {
    font-size: 1.2em;
  }
  h1 {
    font-size: 6rem;
  }
  #landing-image-wrapper {
    margin-top: 2em;
  }
  .video {
    width: 24rem;
    height: 13.5rem;
    padding: 0.5rem;
  }
  #accessory-wrapper {
    flex-direction: column;
    margin: 20px;
  }
  .buy-wrapper {
    flex-direction: column;
    margin: 20px;
  }
  #flex-wrapper {
    display: flex;
    flex-direction: row;
  }
  .buyImage {
    max-width: 100%;
    max-height: 220px;
  }
  #landing-wrapper {
    margin-top: 70px;
  }
  #logo-wrapper {
    display: none;
  }
  #header-img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 1.4em;
  }
  h1 {
    font-size: 10rem;
  }
  #landing-image-wrapper {
    margin-top: 3em;
  }
  .video {
    width: 24rem;
    height: 13.5rem;
    padding: 0.5rem;
  }
  .buyImage {
    max-width: 100%;
    max-height: 100%;
  }
  #landing-wrapper {
    margin-top: 60px;
  }
  #logo-wrapper {
    width: 65px;
    height: 65px;
    border-radius: 40.5px;
    top: -1rem;
    left: 50%;
    margin-left: -40.5px;
  }
  #header-img {
    max-width: 2.5rem;
    padding-top: 1.3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 1.6em;
  }
  h1 {
    font-size: 10rem;
  }
  #landing-image-wrapper {
    margin-top: 4em;
  }
  .video {
    width: 24rem;
    height: 13.5rem;
    padding: 0.5rem;
  }
  .buyImage {
    max-width: 100%;
    max-height: 100%;
  }
  #landing-wrapper {
    margin-top: 30px;
  }
  #logo-wrapper {
    width: 65px;
    height: 65px;
    border-radius: 32.5px;
    top: -1rem;
    left: 50%;
    margin-left: -32.5px;
  }
  #header-img {
    max-width: 2.5rem;
    padding-top: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.8em;
  }
  h1 {
    font-size: 10rem;
  }
  #landing-image-wrapper {
    margin-top: 5em;
  }
  .video {
    width: 32rem;
    height: 18rem;
    padding: 1rem;
  }
  .buyImage {
    max-width: 275px;
    max-height: 100%;
  }
  #logo-wrapper {
    width: 130px;
    height: 130px;
    border-radius: 65px;
    top: -1rem;
    left: 50%;
    margin-left: -65px;
  }
  #logo-wrapper-border {
    width: 132px;
    height: 132px;
    border-radius: 66px;
    top: -1rem;
    left: 50%;
    margin-left: -66px;
  }
  #header-img {
    max-width: 5rem;
    padding-top: 1.3rem;
  }
}
body {
  margin: 0;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  color: #d4d0db;
}
nav {
  overflow: hidden;
  background-color: rgb(29, 23, 23);
  border-bottom: 1px solid rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
nav a {
  color: #d4d0db;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  display: inline-block;
}
nav a:hover {
  color: rgb(255, 255, 255);
}
nav ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
#header-img {
  z-index: 3;
}
#landing-img {
  max-width: 30%;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.1, 1, 0.58, 1);
}
#logo-wrapper {
  z-index: 3;
  background-color: rgb(29, 23, 23);
  position: fixed;
}
#logo-wrapper-border {
  z-index: 1;
  background-color: rgb(255, 255, 255);
  position: fixed;
}
#landing-wrapper {
  display: flex;
}
#main-content {
  background-color: rgb(29, 23, 23);
  margin: 0 4vw 0 4vw;
  border-radius: 12px;
}
.section-description {
  padding: 0 25px 20px 25px;
}
#video-wrapper {
  display: flex;
}
#form {
  background-color: rgb(29, 23, 23);
  border-style: solid;
  border-width: 2px;
  border-color: #d4d0db;
  width: 50vw;
  margin: 1rem auto;
  border-radius: 12px;
  padding: 1rem;
}
.video {
  border: 0;
}
.btn {
  display: block;
  margin: 15px auto;
  background: rgb(243, 228, 154);
  border: solid rgb(29, 23, 23) 2px;
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 11px 11px 11px 11px;
  width: 100%;
}
.btn:hover {
  background: rgb(255, 255, 255);
}
.subBtn {
  max-width: 100px;
}
.buy-cube-wrapper,
.buy-acc-wrapper {
  display: inline-block;
  border-style: solid;
  border-color: #d4d0db;
  border-width: 2px;
  border-radius: 16px;
}
.buyName {
  font-family: "Permanent Marker", cursive;
  padding: 0;
  color: rgb(255, 255, 255);
}
#accessory-wrapper > div,
.buy-wrapper > div {
  margin: 0 auto 30px;
  padding: 20px;
  flex-basis: 25%;
}
#accessory-wrapper,
.buy-wrapper {
  display: flex;
}
h1 {
  font-family: "Righteous", cursive;
  color: rgb(29, 23, 23);
  line-height: 0;
  text-transform: uppercase;
}
h2 {
  font-family: "Permanent Marker", cursive;
  color: rgb(255, 255, 255);
}
#guides {
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.hr {
  color: #d4d0db;
}
.first-title {
  padding-top: 30px;
}
