@media screen and (max-width: 767px) {
  body {
    font-size: 1.2em;
  }
  #landing-image-wrapper {
    margin-top: 2em;
    }
  .video {
    width: 24rem;
    height: 13.5rem;
    padding: .5rem;
  }
  #buy-wrapper > div{
    height: 150px;
   }
  .buyImage {
    max-height: 20vw;
    min-height:100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 1.4em;
  }
  #landing-image-wrapper {
    margin-top: 3em;
    }
  .video {
    width: 24rem;
    height: 13.5rem;
    padding: .5rem;
  }
  #buy-wrapper > div{
    height: 175px;
   }
  .buyImage {
    max-height: 20vw;
    min-height:200px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 1.6em;
  }
  #landing-image-wrapper {
    margin-top: 4em;
    }
  .video {
    width: 24rem;
    height: 13.5rem;
    padding: .5rem;
  }
  #buy-wrapper > div{
    height: 200px;
   }
  .buyImage {
    max-height: 20vw;
    min-height:250px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.8em;
  }
  #landing-image-wrapper {
    margin-top: 5em;
    }
  .video {
    width: 32rem;
    height: 18rem;
    padding: 1rem;
  }
  #buy-wrapper > div{
    height: 300px;
   }
  .buyImage {
    max-height: 15vw;
    min-height:260px;
  }
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  color: #d4d0db;
}
nav {
  overflow: hidden;
  background-color: rgb(29, 23, 23);
  border-bottom: 1px solid rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
nav a {
  color: #d4d0db;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  display:inline-block;
}
nav a:hover {
  color: rgb(255, 255, 255);
}
nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
#header-img {
  max-width: 5rem;
  padding-top: 1.3rem;
  z-index: 3;
}
#landing-img {
  width: 35rem;
  transition: all .3s;
  transition-timing-function: cubic-bezier(0.1, 1, 0.58, 1);
}
#logo-wrapper {
  z-index: 3;
  width: 130px;
  height: 130px;
  border-radius: 65px;
  background-color: rgb(29, 23, 23);
  position: fixed;
  top: -1rem;
  left: 50%;
  margin-left: -65px;
}
#logo-wrapper-border {
  z-index: 1;
  width: 132px;
  height: 132px;
  border-radius: 66px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: -1rem;
  left: 50%;
  margin-left: -66px;
}
#main-content {
  background-color: rgb(29, 23, 23);
  margin: 0 4vw 0 4vw;
  border-radius: 12px;
}
#video-wrapper {
  display: flex;
}
#form {
  background-color: rgb(29, 23, 23);
  border-style: solid;
  border-width: 2px;
  border-color: #d4d0db;
  width: 50vw;
  margin: 1rem auto;
  border-radius: 12px;
  padding: 1rem;
}
.video {
  border: 0;
}
.buyBtn {
  display: block;
  margin: 0 auto;
}
.buy-cube-wrapper {
  display: inline-block;
}
#buy-wrapper > div{
  width: 33%;
 }
h1 {
  font-family: 'Righteous', cursive;
  font-size: 10rem;
  color: rgb(29, 23, 23);
  line-height: 0;
  text-transform: uppercase;
}
h2 {
  font-family: 'Permanent Marker', cursive;
}
#guides {
  padding-bottom: 40px;
  margin-bottom: 40px;
}
